<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated matrixGames -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="matrixGames.presentation.MatrixGamesModelWizardID"
            name="%_UI_MatrixGamesModelWizard_label"
            class="matrixGames.presentation.MatrixGamesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MatrixGamesModelFile.gif">
         <description>%_UI_MatrixGamesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated matrixGames -->
      <editor
            id="matrixGames.presentation.MatrixGamesEditorID"
            name="%_UI_MatrixGamesEditor_label"
            icon="icons/full/obj16/MatrixGamesModelFile.gif"
            extensions="matrixgames"
            class="matrixGames.presentation.MatrixGamesEditor"
            contributorClass="matrixGames.presentation.MatrixGamesActionBarContributor">
      </editor>
   </extension>

</plugin>
