<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated matrixGameEngine -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="matrixGameEngine.presentation.MatrixGameEngineModelWizardID"
            name="%_UI_MatrixGameEngineModelWizard_label"
            class="matrixGameEngine.presentation.MatrixGameEngineModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MatrixGameEngineModelFile.gif">
         <description>%_UI_MatrixGameEngineModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated matrixGameEngine -->
      <editor
            id="matrixGameEngine.presentation.MatrixGameEngineEditorID"
            name="%_UI_MatrixGameEngineEditor_label"
            icon="icons/full/obj16/MatrixGameEngineModelFile.gif"
            extensions="matrixgameengine"
            class="matrixGameEngine.presentation.MatrixGameEngineEditor"
            contributorClass="matrixGameEngine.presentation.MatrixGameEngineActionBarContributor">
      </editor>
   </extension>

</plugin>
