<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated matrixengine -->
      <package
            uri="http://www.example.org/matrixengine"
            class="no.ntnu.matrixengine.MatrixenginePackage"
            genModel="model/matrixengine.genmodel"/>
   </extension>

</plugin>
